<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="podcastUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>

        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
      
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <podcastUpdater.Properties.Settings>
            <setting name="ftpHost" serializeAs="String">
                <value>server76.web-hosting.com</value>
            </setting>
            <setting name="ftpDirectory" serializeAs="String">
                <value></value>
            </setting>
            <setting name="ftpUsername" serializeAs="String">
                <value></value>
            </setting>
            <setting name="ftpPassword" serializeAs="String">
                <value></value>
            </setting>
            <setting name="ftpPort" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="ftpSavePassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="previousRssLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="previousAudioLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="defaults_episodeKeywords" serializeAs="String">
                <value></value>
            </setting>
            <setting name="defaults_episodeSubtitle" serializeAs="String">
                <value></value>
            </setting>
            <setting name="httpBaseAddress" serializeAs="String">
                <value></value>
            </setting>
            <setting name="remoteRssFileLocation" serializeAs="String">
                <value />
            </setting>
        </podcastUpdater.Properties.Settings>
    </userSettings>

    <log4net>
      <appender name="FileAppenderXml" type="log4net.Appender.FileAppender">
        <file type="log4net.Util.PatternString" value="podcastUpdaterLog.xml"/>
        <appendToFile value="true"/>
        <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
          <locationInfo value="true"/>
        </layout>
        <param name="Encoding" value="utf-8" />
      </appender>
      <!-- other appenders defined here -->

      <root>
        <level value="ALL" />
        <appender-ref ref="FileAppenderXml" />
        <!-- other appenders enabled here -->
      </root>
    </log4net>
</configuration>
